.column {
  display: flex;
  flex-wrap: wrap;
}

.column__item {
  .column--5 & {
    flex: 0 0 20%;
    max-width: 20%;
    padding-left: 10px;
    padding-right: 10px;

    @include media-breakpoint-down(md) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
