@mixin hocus {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin image-ratio($ratio) {
  padding-top: $ratio;
}

@mixin image-ratio-wrapper($ratio) {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding-top: $ratio;
  overflow: hidden;

  img {
    @extend %full-stretch;

    position: absolute;
  }

  .resonsive-img-item {
    @extend %full-stretch;
    @extend %background-cover;

    display: block;
    position: absolute;
  }
}

// Fluid Type Technique
// https://stackoverflow.com/questions/40528290/how-to-implement-max-font-size
@mixin fluid($properties, $list, $min-vw: $fluid-min, $max-vw: $fluid-max) {
  @if (length($list) ==2) {
    $min-value: nth($list, 1);
    $max-value: nth($list, 2);
    @include _fluid($properties, $min-value, $max-value, $min-vw, $max-vw);
  } @else {
    $min-value: nth($list, 1);
    $max-value: nth($list, 1);
    @include _fluid($properties, $min-value, $max-value, $min-vw, $max-vw);
  }
}

@mixin _fluid($properties, $min-value, $max-value, $min-vw, $max-vw) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(
        #{$min-value} +
          #{strip-unit($max-value - $min-value)} *
          (100vw - #{$min-vw}) /
          #{strip-unit($max-vw - $min-vw)}
      );
    }
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}
